.footer {
  width: 100%;
  background-color: #2a2a2a;
  padding: 20px 0px;
}

.container {
  max-width: 95%;
  margin: 0 auto;         /* Ini membuat kontennya tetap di tengah */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content .left {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}

.footer-content .right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.footer-content .right a {
  color: white;
  transition: color 0.3s ease;
}

.footer-content .right a:hover {
  color: #7ea610;
}

.footer-content .right a svg {
  width: 30px;
  height: 30px;
}