.box {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.floating-icons {
  position: fixed;
  top: 40%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 8px;
  border-radius: 0 3px 3px 0;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  z-index: 999;
}

.floating-icons a {
  margin: 6px 0;
  color: black;
  transition: transform 0.2s ease;
}

.floating-icons a:hover {
  transform: scale(1.2);
  color: #7ea610;
}

.floating-icons svg {
  width: 35px;
  height: 35px;
}
